<div class="card mt-4">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nisi delectus veniam facilis doloribus molestiae, cumque quas assumenda ipsa accusamus dolorum sequi nesciunt! Dolores tenetur rem doloremque perspiciatis, fugiat totam! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium in expedita minus numquam, illo amet voluptates et quibusdam debitis exercitationem suscipit, vero nemo voluptate molestias totam perspiciatis sapiente, quas possimus?</p>
  </div>
</div>