<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App NodeJs and MongoDB</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, ex eius voluptatum cupiditate ipsa ad porro placeat beatae corrupti</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, reiciendis quis? Architecto quisquam sed ipsum corporis quibusdam quo deleniti, ea, quam amet velit aut delectus maiores officia ad, odio incidunt. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe at odit, voluptates consequatur quia ipsa ratione amet vero similique corrupti hic omnis? Obcaecati illo accusamus sint cum nam ea enim?</p>
  <a href="http://google.com" class="btn btn-primary btn-lg">Follow me</a>
</div>