<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3>Edit Note</h3>
    </div>
    <div class="card-body">
      <form action="/notes/edited-note/{{note._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT"/>
        <input type="text" name="title" class="form-control" value="{{note.title}}">
        <input type="text" name="content" class="form-control mt-2" value="{{note.content}}">
        <div class="form-group">
          <button class="btn mt-4 btn-primary btn-block" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>